[submodule "crates/xui-netsurf/netsurf-sys/vendor/netsurf"]
	path = crates/xui-netsurf/netsurf-sys/vendor/netsurf
	url = https://github.com/netsurf-browser/netsurf.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libcss"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libcss
	url = https://github.com/netsurf-browser/libcss.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libdom"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libdom
	url = https://github.com/netsurf-browser/libdom.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libhubbub"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libhubbub
	url = https://github.com/netsurf-browser/libhubbub.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libparserutils"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libparserutils
	url = https://github.com/netsurf-browser/libparserutils.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libwapcaplet"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libwapcaplet
	url = https://github.com/netsurf-browser/libwapcaplet.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libnsutils"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libnsutils
	url = https://github.com/netsurf-browser/libnsutils.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libnsgif"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libnsgif
	url = https://github.com/netsurf-browser/libnsgif.git
[submodule "crates/xui-netsurf/netsurf-sys/vendor/libnsbmp"]
	path = crates/xui-netsurf/netsurf-sys/vendor/libnsbmp
	url = https://github.com/netsurf-browser/libnsbmp.git
